html {
  padding: 10px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
}

.content {
  display: table;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

header {
  width: auto;
  height: 200px;
  background-image: url("https://lh3.googleusercontent.com/proxy/4zMGCr-jcvsjRYf_hQdCtg5lhv9A6GiXI_PsiVrIB9wYNjr2gf1MBEdr3EGIEUpP5NpUC6_wdutXvfdDW_oMWXwHoGmcA2uG8-oE9-qABGg4V1UOzZa5YIOBtUOFEByUXLVv07hgfxsd2D5cdA48tv55AtsNcvrmqvOyY3EyszH_eJ5Cgtli5yUwhtA_");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}

/* .headerImage {
  position: relative;
  top: 0;
  right: 0;
  width: 45.8%;
} */
nav {
  width: auto;
  height: 100px;
  margin-left: 10%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 10px;
  display: inline-block;
  list-style-type: none;

  margin: 0;
  padding: 0;
  width: auto;
  float: left;
  background: #6db6d3d3;
}

ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

ul li a:hover {
  background: thistle;
  color: #fff;
}

aside {
  width: 20%;
  float: left;
}

td li {
  list-style-type: none;
  padding-left: auto;
}

tr td {
  padding-left: auto;
  padding-right: auto;
}

.writeBtn {
  position: relative;
  left: 100px;
}

.write {
  border: none;
  width: 100px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  font-size: 15px;
  border-radius: 10px;
  background-color: thistle;
}

.write:hover {
  cursor: pointer;
  border: none;
  width: 100px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(191, 114, 226);
}

.content {
  width: 80%;
  float: left;
  align-content: center;
}

.listTable {
  width: 90%;
  height: 200px;
  margin-left: auto;
  align-content: center;
  border: 1px solid #444444;
  border-collapse: collapse;
}

h1 {
  text-align: center;
}

/* .pagingSection {
  padding: 5%;
  text-align: center;
}

.pagingItem {
  align-items: center;
  text-align: center;
  font-size: 15px;
} */

th,
td {
  height: 50px;
  border: 1px solid #444444;
  padding: 10px;
}

/* .container::after {
  content: "";
  display: block;
  clear: both;
} */
.searchDiv {
  margin: 20px 0;
  padding: 60px;
}

.searchBox {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 355px;
  left: 575px;
  padding: 50;
}

.searchTitle,
.searchName,
.searchContent {
  padding: 15px;
  margin: 5px;
  width: auto;
  height: 100;
}

.SearchBar {
  position: absolute;
  top: 355px;
  left: 575px;
}

.searchBox input {
  height: 30px;
  width: 300px;
}

.pagination {
  margin-top: 20px;
  white-space: nowrap;
  text-align: center;
  height: 37px;
  line-height: 37px;
}

.pagination a {
  display: inline-block;
  border: 1px solid #f7f7f7;
  height: 35px;
  width: 35px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: #898989;
  background: #f7f7f7;
}

.pagination .on {
  color: #fff;
  font-weight: bold;
  background: #333;
}

.pagination .preview,
.pagination .next {
  height: 35px;
  width: 35px;
  border: 1px solid #ebebeb;
  overflow: hidden;
  position: relative;
  font-size: 15;
  text-emphasis-color: #333;
}

.pagination .preview.end,
.pagination .next.end {
  height: 35px;
  width: 35px;
  font-size: 0;

}

.pagination .preview {
  background: #ebebeb url("") no-repeat center center;
  margin-right: 11px;

}

.pagination .preview.end {
  background: #ebebeb url("") no-repeat center center;
  margin-right: 4px;
  border-right: 0;
}

.pagination .next {
  background: #ebebeb url("") no-repeat center center;
  margin-left: 12px;
}

.pagination .next.end {
  background: #ebebeb url("") no-repeat center center;
  margin-left: 4px;
  border-left: 0;
}

.preview {
  color: #898989;
}