<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <script defer src="http://192.168.56.101:3000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
</head>

<body>

    <!-- 채팅하기 누르면 첫번째 화면 -->
    <!--  룸 리스트 -->
    <div id="room-container">
        <% Object.keys(rooms).forEach(room => { %>
        <div>방 이름 : <%= room %></div>
        <a href="/<%= room %>">방 입장</a>
        <% }) %>
    </div>

    <form action="/room" method="POST">
        <input placeholder="방 이름을 입력해주세요" name="room" type="text" required>
        <button type="submit">채팅방 만들기</button>
    </form>
</body>

</html>